# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# =========================
# Config sensible
# =========================
config/config.yaml
*.secret
*.env

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pip / packaging
# =========================
pip-wheel-metadata/
dist/
build/
*.egg-info/
